html {
    font-size: 100.01%;
}

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 150%;
    background: #FFFFFF;
    margin: 0;
    padding: 0;
    color: #323537;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #5E6469;
}

h1 {
    background: #EFEFEF;
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2));
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#DFE1E2);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#DFE1E2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    text-shadow: white 0 1px 0;
    border-bottom: 1px solid #EDEDED;
    line-height: 140%;
    color: #5E6469;
    position: relative;
    margin: 0;
    padding: 10px 30px;
    font-size: 2.6em;
    font-weight: bold;
}

h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
}

h3 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 1em;
}

h4 {
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}

h6 {
    font-size: 1em;
    font-weight: bold;
}

p {
    margin: 0 0 1.5em;
}

a {
    color: #38678B;
    text-decoration: underline;
}

code {
    font-size: 1.2em;
}

a:hover {
    text-decoration: none;
}

.header {
    background: #6A7176;
    background: -webkit-gradient(linear, left top, left bottom, from(#6A7176), to(#4D5256));
    background: -moz-linear-gradient(-90deg, #6A7176, #4D5256);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6A7176, endColorstr=#4D5256);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6A7176, endColorstr=#4D5256);
    border-bottom: 1px solid #44484B;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    text-shadow: black 0 1px 0;
    overflow: visible;
    padding: 9px 30px;
    z-index: 900;
}

.header a {
    color: #CDCDCD;
}

.header ul {
    margin: 0;
    padding: 0;
}

.header ul > li {
    display: inline-block;
    margin-right: 4px;
    font-size: 1.0em;
    position: relative;
}

.header ul > li a {
    text-decoration: none;
    padding: 6px 10px 4px 10px;
    position: relative;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.header ul > li.current a {
    background: #7B8389;
    color: #FFFFFF;
}

.header ul > li:hover a {
    background: #7B8389;
    color: #FFFFFF;
}


form fieldset, form legend {
    margin: 0;
    padding: 0;
}

form fieldset {
    border: 0;
    padding: 10px 0;
    margin-bottom: 20px;
    width: 100%;
}

form fieldset label {
    display: inline-block;
    min-width: 150px;
}

form fieldset legend {
    width: 100%;
}

form fieldset legend span {
    display: block;
    background: #EFEFEF;
    background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#DFE1E2));
    background: -moz-linear-gradient(-90deg, #EFEFEF, #DFE1E2);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#DFE1E2);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EFEFEF, endColorstr=#DFE1E2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    text-shadow: white 0 1px 0;
    border-bottom: 1px solid #EDEDED;
    padding: 5px 10px 3px 10px;
    font-size: 1.0em;
    font-weight: bold;
    line-height: 140%;
    margin-bottom: 0.5em;
    color: #5E6469;
}

form input[type=password],
form textarea {
    border: 1px solid #C9D0D6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.95em;
    font-family: Helvetica, Arial, sans-serif;
    outline: none;
    padding: 8px 10px 7px;
    margin: 0 10px;
}

form input[type=text]:focus,
form input[type=password]:focus,
form input[type=email]:focus,
form input[type=url]:focus,
form input[type=tel]:focus,
form textarea:focus {
    border: 1px solid #99A2AA;
    box-shadow: 0 0 4px #99A2AA;
    -moz-box-shadow: 0 0 4px #99A2AA;
    -webkit-box-shadow: 0 0 4px #99A2AA;
}

form input[type=submit] {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    background: #838A90;
    background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
    background: -moz-linear-gradient(-90deg, #838A90, #414549);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838A90, endColorstr=#414549);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838A90, endColorstr=#414549);
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    text-shadow: black 0 1px 0;
    text-decoration: none;
    margin-right: 3px;
    font-weight: bold;
    font-size: 1.0em;
    cursor: pointer;
    padding: .6em 1.4em .5em 1.3em;
    border: none;
    color: #EFEFEF;
}

form input[type=submit]:hover {
    color: #FFFFFF;
    box-shadow: 0 1px 3px #888888;
    -moz-box-shadow: 0 1px 3px #888888;
    -webkit-box-shadow: 0 1px 3px #888888;
}

form input[type=submit]:active {
    box-shadow: inset 0 1px 2px black;
    -moz-box-shadow: inset 0 1px 2px black;
    -webkit-box-shadow: inset 0 1px 2px black;
}

form select {
    height: 34px;
    padding: 8px 10px 7px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #C9D0D6;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

form .buttons {
    margin-top: 15px;
}

form .buttons input[type=submit] {
    margin-right: 10px;
}

form fieldset.buttons li {
    float: left;
    padding-right: 0.5em;
    padding-top: 0;
}

form fieldset.buttons li.cancel {
    margin-left: 0.3em;
    padding: 5px;
}

form fieldset.buttons li.cancel a {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    background: #838A90;
    background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
    background: -moz-linear-gradient(-90deg, #838A90, #414549);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838A90, endColorstr=#414549);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838A90, endColorstr=#414549);
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    text-shadow: black 0 1px 0;
    text-decoration: none;
    margin-right: 3px;
    font-weight: bold;
    font-size: 1.0em;
    cursor: pointer;
    padding: .6em 1.4em .5em 1.3em;
    border: none;
    color: #EFEFEF;
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#DDDBDB));
    background: -moz-linear-gradient(-90deg, #F9F9F9, #DDDBDB);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#DDDBDB);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F9F9F9, endColorstr=#DDDBDB);
    text-shadow: white 0 1px 0;
    color: #777777;
}

form fieldset.buttons li.cancel a:hover {
    color: #FFFFFF;
    box-shadow: 0 1px 3px #888888;
    -moz-box-shadow: 0 1px 3px #888888;
    -webkit-box-shadow: 0 1px 3px #888888;
}

form fieldset.buttons li.cancel a:active {
    box-shadow: inset 0 1px 2px black;
    -moz-box-shadow: inset 0 1px 2px black;
    -webkit-box-shadow: inset 0 1px 2px black;
}

form fieldset.buttons li.cancel a:hover {
    color: #444444;
}

form fieldset.buttons li.cancel a:active {
    box-shadow: inset 0 1px 2px #AAAAAA;
    -moz-box-shadow: inset 0 1px 2px #AAAAAA;
    -webkit-box-shadow: inset 0 1px 2px #AAAAAA;
}

.flash div {
    background: #6A7176;
    background: -webkit-gradient(linear, left top, left bottom, from(#6A7176), to(#4D5256));
    background: -moz-linear-gradient(-90deg, #6A7176, #4D5256);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6A7176, endColorstr=#4D5256);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6A7176, endColorstr=#4D5256);
    border-bottom: 1px solid #44484B;
    text-shadow: #FAFAFA 0 1px 0;
    background-color: #A24A42;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.0em;
    margin-bottom: 10px;
    padding: 13px 30px 11px;
}

.flash .success {
    background: #DCE9DD;
    background: -webkit-gradient(linear, left top, left bottom, from(#DCE9DD), to(#CCDFCD));
    background: -moz-linear-gradient(-90deg, #DCE9DD, #CCDFCD);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DCE9DD, endColorstr=#CCDFCD);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DCE9DD, endColorstr=#CCDFCD);
    border-bottom: 1px solid #ADCBAF;
    color: #416347;
}

.flash .error {
    background: #F5E4E4;
    background: -webkit-gradient(linear, left top, left bottom, from(#F5E4E4), to(#F1DCDC));
    background: -moz-linear-gradient(-90deg, #F5E4E4, #F1DCDC);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5E4E4, endColorstr=#F1DCDC);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#F5E4E4, endColorstr=#F1DCDC);
    border-bottom: 1px solid #E0C2C0;
    color: #B33C33;
}

.flash div {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: white 0 1px 0;
    background: none;
    color: #666666;
    font-weight: bold;
    line-height: 1.0em;
    margin-bottom: 10px;
}

#main_content {
    margin: 0;
    padding: 25px 30px;
}

a.button, input[type=submit] {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    background: #838A90;
    background: -webkit-gradient(linear, left top, left bottom, from(#838A90), to(#414549));
    background: -moz-linear-gradient(-90deg, #838A90, #414549);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838A90, endColorstr=#414549);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838A90, endColorstr=#414549);
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    text-shadow: black 0 1px 0;
    text-decoration: none;
    margin-right: 3px;
    font-weight: bold;
    font-size: 1.0em;
    cursor: pointer;
    padding: .6em 1.4em .5em 1.3em;
    border: none;
    color: #EFEFEF;
}

a.button:hover, input[type=submit]:hover {
    color: #FFFFFF;
    box-shadow: 0 1px 3px #888888;
    -moz-box-shadow: 0 1px 3px #888888;
    -webkit-box-shadow: 0 1px 3px #888888;
}

a.button:active, input[type=submit]:active {
    box-shadow: inset 0 1px 2px black;
    -moz-box-shadow: inset 0 1px 2px black;
    -webkit-box-shadow: inset 0 1px 2px black;
}

.breadcrumb {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: normal;
}

.breadcrumb a, .breadcrumb a:link {
    color: #8A949E;
    text-decoration: none;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb .breadcrumb_sep {
    margin: 0 2px;
    color: #AAB2BA;
}

table tr:nth-child(2n+2) td {
    background-color: #ECEDEE
}